body {
    font-family: Arial, sans-serif;
    width: 500px;
    height: 800px;
    background-color: rgb(233, 233, 233);    
}
#productivityApp{
    margin: 35px;
    background-color: white;
    height: 100%;
}

#app {
    max-width: 400px;
    margin-left: 10px;
}

h1{
    padding-top: 20px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(255, 130, 151),rgb(75, 75, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

.task button {
    background-color: #ffc3c3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task button:hover {
    background-color: #ffb4b4;
}


#InB{
   position: absolute;
   top: 70%;
}

input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

#myProgress {
    width: 40%;
    background-color: rgb(27, 26, 26);
}
  
  #myBar {
    width: 0%;
    height: 20px;
    background-color: rgb(255, 175, 206);
  }

#UserProgress{
    width: 45%;
    position: absolute;
    top: 75%;
    padding: 10px;
}

