body {
    font-family: Arial, sans-serif;
    width: 500px;
    height: 800px;
    background-color: rgb(17, 17, 17);    
    margin: 0 auto;

}



#app {
    max-width: 400px;
    margin-left: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

.task button {
    background-color: #ffc3c3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task button:hover {
    background-color: #ffb4b4;
}

select {
    padding: 5px;
}

input{
    height: 23px;
}
